<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chapdast.appventuredownloader">

    <uses-sdk
        tools:overrideLibrary="co.ronash.pushe" />
    <permission
        android:name="com.chapdast.appventuredownloader.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.chapdast.appventuredownloader.permission.C2D_MESSAGE" />


    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.chapdast.appventuredownloader"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.chapdast.appventuredownloader" />
            </intent-filter>
        </receiver>

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_742028393625"/>
        <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>






        <activity android:name=".MainActivity">

        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.chapdast.appventuredownloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".AppCheck"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>